{% extends "layout.html" %}
{% block content %}

{% import "_macros.html" as macros %}

    <form method="post" action="">

        {{ macros.datos('nombre', 'Escribe tu nombre') }}
        {{ macros.datos('edad', 'Escribe tu edad', 'number') }}
        {{ macros.datos('email', 'Escribe tu correo', 'email') }}
        {{ macros.datos('password', 'Escribe tu contraseñá', 'password') }}

    </form>

{% endblock %}

"""
Con macros y la formula de distancia entre dus puntos (d = raiz((x2 - x1)^2 + (y2 - y1)^2))
"""